*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    background: #0c192c;
}
.contenedor
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.burbujas
{
    position: relative;
    display: flex;
}
.burbujas span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(123s / var(--i));
}
.burbujas span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
section
{
    position: relative; /* le dice a un elemento que se mueva con respecto a otro elemento. (activa la opcion de top) mas abajo se explica) */
    display: block;
    width: 35%;
    margin: 0 auto;
    top: 100px; /* este estilo se activa con una posicion relativa, indicanto un margen superior*/
}

.avatar
{
    width: 250px; /* indica el ancho de un elemento */
    height: 250px; /* indica el alto */ 
    border-radius: 50%; /* crea un borde redondo indicado en % , para lograr un circulo */
    display: block; /* Le dice a cada elemento como debe comportarse como bloque o lineal*/
    margin: 0 auto; 
    border: 2px solid black;
}

.name
{
    text-align: center; /* alinea el texto de forma centrada */ 
    font-size: 45px;/* tamaño de la fuente */ 
    color: aliceblue;
    font-family: Impact, helvertica, 'Arial Narrow Bold', sans-serif;
}

.links
{
    padding-top: 25px;
    width: 100%;
    margin-left: 20%;
    /*margin: 0 auto;   Centra un elemento de tipo bloque */
}

a
{
    padding: 38px 0px 0px 7px;
    height: 100px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    color: white;
    display: inline-block;
    text-align: center;
}

.instagram
{
    background-color: rgb(196, 83, 194);
}
.instagram:hover
{
    background-color: rgb(214, 11, 236);
    position: relative;
    bottom: 1px;
}

.facebook
{
    background-color: rgb(142, 164, 254);
}
.facebook:hover
{
    background-color: rgb(38, 78, 237);
    position: relative;
    bottom: 1px;
}

.linkedin
{
    background-color: rgb(99, 123, 220);
}
.linkedin:hover
{
    background-color: rgb(17, 62, 242);
    position: relative;
    bottom: 1px;
}

.twitter {
    background-color: rgb(48, 200, 255);
}
.twitter:hover
{
    background-color: rgb(5, 190, 241);
    position: relative;
    bottom: 1px;
}